<%= render "layouts/home_banner" %>

<div class="home-container">

  <div class="row justify-content-center">

    <div class="card-home col-11 col-lg-5">
        <div class="card-home-infos">
          <h2>Currently working on: </h2>
            <div class="card-title">
              <p><%= @project.name %></p>
            </div>
            <div class="label">
              <p><%= @project.label %> project</p>
            </div>
            <p><%= @project.description %></p>

            <%= link_to "All projects", projects_path, class:"btn" %>
        </div>
    </div>


    <div class="card-home col-11 col-lg-5">
      <div class="card-home-infos">
        <h2>Currently learning: </h2>
          <div class="card-title">
            <p>Web accessibility</p>
          </div>
            <p>A successful website is an accessible website - I'm learning how to make a website accessible and inclusive.</p>
          <div class="card-title">
            <p>React.js</p>
          </div>
            <p>I'm focusing on expanding and improving my front-end skills, starting with learning the React framework to use with my next project.</p>
          <%= link_to "About me", about_path, class:"btn" %>

      </div>
    </div>

  </div>

</div>
