<%= render "layouts/home_banner" %>

<div class="home-container">

  <div class="row justify-content-center">

    <div class="card-home col-11 col-lg-5">
      <div class="card-home-infos">
        <h3>What I'm currently working on: </h3>
          <%= link_to project_path(@project) do %>
            <h5><%= @project.name %></h5>
          <% end %>
          <p><%= @project.label %></p>
          <p><%= @project.description %></p>
      </div>
    </div>

     <div class="card-home col-11 col-lg-5">
      <div class="card-home-infos">
        <h3>What I'm currently learning: </h3>
          <ul>
            <li>Web accessibility</li>
            <li>React.js</li>
          </ul>
      </div>
    </div>

  </div>

</div>
