<div class="container">
  <div class="row justify-content-center">
    <div class="card project-details col-11 col-lg-7">
      <div class="details">

        <div class="details-flex">
          <h1><%= @project.name %></h1>
          <div class="label">
            <p><%= @project.label %> project</p>
          </div>
        </div>

        <div class="details-flex">
          <p><%= @project.tagline %></p>
          <% if @project.end_date.present? %>
            <p><%= @project.start_date.to_formatted_s(:short) %> - <%= @project.end_date.to_formatted_s(:short) %></p>
          <% else %>
            <p><%= @project.start_date.to_formatted_s(:short) %> - present </p>
          <% end %>
        </div>
      </div>

        <h5>Description</h5>
          <p><%= @project.description %></p>

        <h5>Features</h5>
          <ul>
            <% @project.features.each do |feature| %>
              <li><%= feature %></li>
            <% end %>
          </ul>

        <div class="details-flex">
          <%= link_to "FrontRow", @project.project_url, class:"btn" %>
          <%= link_to "GitHub", @project.github_url, class:"btn" %>
        </div>


    </div>

    <div class="card col-11 col-lg-4">
      <% if @project.photos.present? %>
        <% @project.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
      <% else %>
        <p>Sorry, no photos to display.</p>
      <% end %>
    </div>
  </div>
</div>
