<div class="container">
  <div class="row">
    <div class="card project-details col-11 col-lg-7">

      <div class="details">

        <div class="details-flex">
          <h1><%= @project.name %></h1>
          <div class="label">
            <p><%= @project.label %> project</p>
          </div>
        </div>

        <div class="details-flex">
          <p><%= @project.tagline %></p>
          <p><%= @project.start_date %> - <%= @project.end_date %></p>
        </div>

      </div>

        <p><%= @project.description %></p>

    <ul>
      <% @project.features.each do |feature| %>
        <li><%= feature %></li>
      <% end %>
    </ul>

    <p><%= @project.project_url %></p>
    <p><%= @project.github_url %></p>

    </div>

    <div class="card col-11 col-lg-4">
      <% @project.photos.each do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>
    </div>
  </div>
</div>
